[Unit]
Description=OnionPress heartbeat client
After=onionpress.service
Requires=onionpress.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/onionpress/scripts/onionpress-heartbeat.py
Restart=always
RestartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
